<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="crosswalk.config" version="1.0.0">
	<engines>
		<engine name="cordova" version=">=3.0.0" />
	</engines>
	<name>Crosswalk Config</name>
	<description>Android permissions needed for Crosswalk</description>
	<author>App</author>
	<keywords>config</keywords>
	<license>Apache 2.0</license>
	<platform name="android">
		<config-file target="AndroidManifest.xml" parent="/manifest">
		  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
		  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
		</config-file>
	</platform>
</plugin>
